<div id="post-{{id}}" class="card">
  <img
    src="/public/{{thumbnail}}"
    class="card-image"
    alt="Thumbnail for {{title}}"
  />
  <div class="card-body">
    <h3 class="card-title"> {{title}}</h3>
    <a href="/post/{{id}}" class="anchor-buttons">Post Details</a>
  </div>
</div>