<main class="profile-container">
  <h2>{{user.username}}'s Profile</h2>
  <div class="profile-user-info">
    <div class="profile-avatar">
      <i class="fa fa-user-graduate"></i>
    </div>
    <p class="profile-username">{{user.username}}</p>
    <p class="profile-email">{{user.email}}</p>
  </div>
  <section>
    <h3>Posted Videos</h3>
    {{#if userPosts.length}}
      <div class="posted-videos">
        {{#each userPosts}}
          <div class="video-card">
            <a href="/post/{{this.id}}">
              <img
                src="/public/{{this.thumbnail}}"
                alt="{{this.title}}"
                class="video-thumbnail"
              />
              <p class="video-title">{{this.title}}</p>
              <p class="video-date">{{formatDate this.created_at}}</p>
            </a>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p>This user hasn't posted any videos yet.</p>
    {{/if}}
  </section>
</main>