<article class="playVideo">
  <video id="mainVideo" controls>
    <source src="/{{currentPost.video}}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="videoDetails">
    <h1>{{currentPost.title}}</h1>
    <div class="channelName">
      <div class="channelIfo">
        <img src="/public/assets/Logo/FirstLogo.png" alt="The channel logo" />
        <h2>{{currentPost.username}}</h2>
      </div>
      <div class="buttonContainer">
        <button id="likeToggle" type="submit" class="fa fa-thumbs-up" data-postid="{{currentPost.id}}">
          <p id="likeCount">{{currentPost.likes}}</p>
      </div>
      <div class="shareContianer">
        <button type="submit" id="shareToggle">
          <img src="/public/assets/icon/Share.svg" alt="Share Svg">
          <p>Share</p>
        </button>
      </div>

    </div>
    <div class="videoDescription">
      <p id="videoDescriptionFirstParagragh">2M Views</p>
      <p>{{formatDate currentPost.created_at}}</p>
      <p>Category: LifeStyle</p>
      <p>{{currentPost.description}}</p>
    </div>
  </div>
</article>
<div class="commentSection">
  <div class="commentHeader">
    <div class="commentInputContainer">
      <textarea id="commentInput" placeholder="Add a comment..."></textarea>
      <button id="submitComment" class="comment-box-button" data-postid="{{currentPost.id}}">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Post
      </button>
    </div>
  </div>
  <div class="commentList" id="commentList">
    {{#each currentPost.comments}} 
      {{> comment this}} 
    {{/each}}
  </div>
</div>

</body>

</html>